*.o
chess.exe
chess
*.gam
.*.d
.idea
.cmake
test/CMakeFiles/*
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Makefile
config.h
chess_tests.exe
chess_tests
CTestTestfile.cmake
Testing
cmake-build-release
cmake-build-debug
