BasedOnStyle: WebKit
IndentWidth: 4
UseTab: Never
TabWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
ColumnLimit: 100
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentCaseBlocks: true
NamespaceIndentation: All
PointerAlignment: Left
PackConstructorInitializers: Never
SortIncludes: false
SpaceBeforeParens: NonEmptyParentheses
WhitespaceSensitiveMacros: ['REQUIRE', 'CHECK', 'TEST_CASE', 'SUBCASE', 'INFO', 'REQUIRE_THROWS_WITH_AS']
