cmake-build-*
.idea
.vs
.vscode
CMakeLists.txt.user
/src/wisdom-chess/ui/react/public/wisdom-chess-web.wasm
/src/wisdom-chess/ui/react/public/wisdom-chess-web.js
/src/wisdom-chess/ui/react/public/wisdom-chess-web.ww.js
/src/wisdom-chess/ui/react/public/wisdom-chess-load.js
/src/wisdom-chess/ui/react/public/glue.js
/src/wisdom-chess/ui/react/dist/
/src/wisdom-chess/ui/react/dev-dist/

# Local Netlify folder
.netlify
