#root {
  margin: 0 auto;
  text-align: center;
}

.top-menu {
  background: #e4e4e4;
  height: 42px;
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
}

.menu {
  position: absolute;
  top: 42px;
  z-index: 20;
  background: #fff;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  border-radius: 0 0 5px 5px;
  border: 1px solid #666;
}

.menu li {
  text-align: left;
  margin: 0 -1rem;
  padding: .2rem 1rem;
  border-bottom: 2px solid #eee;
}

.menu li:hover {
  background: var(--menu-highlight);
  color: white;
  cursor: pointer;
}

.menu li:last-child {
  border-bottom: 0;
}

.container {
  display: flex;
  place-items: center;
  flex-direction: column;
}

.status-bar {
  font-size: 2rem;

}
.status-bar div {
  margin-bottom: 1.2rem;
}

.modal {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #fff;
  width: 66vw;
  border-radius: 1rem;
  padding: 1rem 3rem 4rem;
  box-sizing: border-box;
  max-width: 38rem;
}

.modal h1 {
  margin-bottom: 2rem;
}

.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #888;
  opacity: 0.4;
  z-index: 2;
  top: 0;
}

.modal h1 {
  font-size: 2rem;
}

.modal p {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: .7rem;
}

.buttons > * {
  flex-basis: 33%;
}
