#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.top-menu {
  background: #e4e4e4;
  height: 42px;
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.container {
  display: flex;
  place-items: center;
  flex-direction: column;
}

.status-bar {
  font-size: 2rem;

}
.status-bar div {
  margin-bottom: 1.2rem;
}