.settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    max-width: 30rem;
    margin: auto;
}

.settings label {
    cursor: pointer;
}

.buttons {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    gap: .7rem;
}

.buttons > * {
    flex-basis: 33%;
}