BasedOnStyle: WebKit
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 100
PointerAlignment: Left
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
NamespaceIndentation: All
SpaceBeforeParens: NonEmptyParentheses
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
BinPackArguments: true
AlignAfterOpenBracket: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
